.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
}

.options-container h3 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.options-container p {
  margin-bottom: 0px;
  margin-top: 40px;
}

